@font-face {
  font-family: Proza_Libre;
  src: url(../fonts/Proza_Libre/ProzaLibre-Regular.ttf);
}

@font-face {
  font-family: Atkinson_Hyperlegible;
  src: url(../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
  font-family: Prata;
  src: url(../fonts/Prata/Prata-Regular.ttf);
}