@import url("global.css");
html, body {
	background: White;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.perfume-grid {
	width: 60vw;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	column-gap: 3%;
	margin: auto;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

.perfume-grid > div > img {
	width: 100%;
	border-width: 0 0 thick;
	margin: 3% auto;
}

h1 {
	font-size: 1.8rem;
}

.top-content {
	width: 85vw;
}

.perfume-desc {
	text-align: center;
	position: relative;
    width: 100%;
	height: 0%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: Black;
	font-size: 0.7rem;
}

@media screen and (max-width: 970px) {
	.perfume-grid {
		width: 85vw;
		grid-template-columns: 32% 32% 32%;
	}
	
	h1 {
		font-size: 2.3rem;
	}
}

@media screen and (max-width: 430px) {
	.perfume-grid {
		width: 90vw;
		grid-template-columns: 48% 48%;
	}
	
	h1 {
		font-size: 2rem;
	}
	
	.perfume-desc {
		font-size: 0.5rem;
	}
}

footer {
	display: grid;
	grid-template-columns: 45% 45%;
	width: 95%;
	column-gap: 5%;
	font-size: 2vw;
}