@import url("global.css");
html, body {
	background: GhostWhite;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.perfume-grid {
	width: 70vw;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	column-gap: 3%;
	margin: auto;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

.perfume-grid > img {
	width: 100%;
	border-width: 0 0 thick;
	margin: 3% auto;
}

h1 {
	font-size: 2rem;
	margin: 1.5% auto;
}

p {
	width: 85vw;
	font-size: 0.8rem;
}

@media screen and (max-width: 970px) {
	.perfume-grid {
		width: 85vw;
		grid-template-columns: 32% 32% 32%;
	}
	h1 {
		font-size: 3rem;
	}
	p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 430px) {
	.perfume-grid {
		width: 90vw;
		grid-template-columns: 48% 48%;
	}
}

footer {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin: auto;
	width: 95%;
	font-size: 16px;
	justify-content: center;
}

footer > .f-left {
	float: left;
}
footer > .f-center {
	align-items: center;
}
footer > .f-right {
	float: right;
}